      <kendo-grid 
      #grid
      [data]="gridData"
      [selectable]="{enabled: true, checkboxOnly: true }"
      [selectedKeys]="mySelection"
      [pageable]="{
        buttonCount: buttonCount,
        info: info,
        type: type,
        pageSizes: true,
        previousNext: previousNext
      }"
      [pageSize]="pageSize"
      [height]="493"
      [skip]="skip"
      (edit)="editHandler($event)"
      (cancel)="cancelHandler($event)"
      (save)="saveHandler($event)"
      (remove)="removeHandler($event)"
      (add)="addHandler($event)"
      (pageChange)="onPageChange($event)"
      (pageChange)="onPageChange($event)"
      (selectedKeysChange)="onSelectedKeysChange($event)"
      kendoGridSelectBy="ProductID"
      >
      <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
         <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
         <kendo-pager-info></kendo-pager-info>
         <kendo-pager-next-buttons></kendo-pager-next-buttons>
         <kendo-pager-page-sizes [pageSizes]="pageSizes"></kendo-pager-page-sizes>
      </ng-template>
      <kendo-grid-checkbox-column showSelectAll="true" width="15"></kendo-grid-checkbox-column>
        <ng-template kendoGridToolbarTemplate>
        </ng-template>
        <kendo-grid-column field="ProductName" title="Name" width="200">
            <ng-template kendoGridEditTemplate let-column="column" let-formGroup="formGroup" let-isNew="isNew">
              <input #input class="k-textbox" [formControl]="formGroup.get(column.field)">
              <kendo-popup
                [anchor]="input"
                *ngIf="formGroup.get(column.field).invalid && !(isNew && formGroup.get(column.field).untouched)"
                popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg"
               >
                <span class="k-icon k-i-warning"></span>
                Product name is required
              </kendo-popup>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="CategoryID" title="Category" width="150">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{category(dataItem.CategoryID)?.CategoryName}}
          </ng-template>
          <ng-template kendoGridEditTemplate
            let-dataItem="dataItem"
            let-column="column"
            let-formGroup="formGroup">
            <kendo-dropdownlist
              #ddl="popupAnchor"
              textField="CategoryName"
              valueField="CategoryID"
              popupAnchor
              [defaultItem]="{CategoryID: null, CategoryName: 'Test null item'}"
              [data]="categories"
              [valuePrimitive]="true"
              [formControl]="formGroup.get('CategoryID')"
            >
            </kendo-dropdownlist>
            <kendo-popup
                [anchor]="ddl.element"
                *ngIf="formGroup.get(column.field).invalid && !(isNew && formGroup.get(column.field).untouched)"
                popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg"
               >
                <span class="k-icon k-i-warning"></span>
                Category is required
              </kendo-popup>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="UnitPrice" title="Price" format="{0:c}" width="80" editor="numeric">
        </kendo-grid-column>
        <kendo-grid-column field="UnitsInStock" title="In stock" width="80">
          <ng-template kendoGridEditTemplate let-column="column" let-formGroup="formGroup" let-isNew="isNew">
              <kendo-numerictextbox
                #ntb="popupAnchor"
                popupAnchor
                [formControl]="formGroup.get(column.field)"></kendo-numerictextbox>
              <kendo-popup
                [anchor]="ntb.element"
                *ngIf="formGroup.get(column.field).invalid && !(isNew && formGroup.get(column.field).untouched)"
                popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg"
               >
                <span class="k-icon k-i-warning"></span>
                UnitsInStock must be >= 0
              </kendo-popup>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-command-column title="command" width="220">
          <ng-template kendoGridCellTemplate let-isNew="isNew">
            <button kendoGridEditCommand [primary]="true">Edit</button>
            <button kendoGridRemoveCommand>Remove</button>
            <button kendoGridSaveCommand [disabled]="formGroup?.invalid" *ngIf="isNew === false">Update</button>
            <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
          </ng-template>
        </kendo-grid-command-column>
    </kendo-grid>
    <button (click)="addCustomItem(grid)">Add Item</button>
    <button (click)="customSaveChanges(grid)"> Save Item</button>